<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>

<style>
    .posts {
        display: flex;
        flex-wrap: wrap;
    }
    .post {
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        width: 200px;
        height: 200px;
        margin: 10px;
        display: grid;
        justify-content: center;
        background-color: bisque;
    }

</style>

<body>
    <h1>All Posts</h1>
    <% if (posts.length> 0) { %>
        <div class="posts">
            <% posts.forEach(function(post) { %>
                <div class="post">
                    <h3 class="title">
                        <%= post.title %>
                    </h3>
                    <p class="description">
                        <%= post.description %>
                    </p>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <p>No posts found.</p>
            <% } %>
</body>

</html>